<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>

<% @pictures.each do |picture| %>
<div>
  <p><%= picture.title %> by: <%= picture.artist %></p>
  <%= image_tag("#{picture.url}", size: "500x300") %>
</div>
<% end %>
